main {
  max-width: 100%;
}

.myWork {
  display: flex;
  align-items: center;
  max-width: 85%;
  justify-content: space-between;
  margin-bottom: 7rem;
}

.myWork__line {
  content: "";
  width: 85%;
  height: 0.4125rem;
  border-radius: 0.125rem;
  background: var(--gradient);
}

.myWork__title {
  font-family: var(--font-secondary);
  font-size: 1.875rem;
  font-weight: 300;
  color: var(--color-white);
}

@media only screen and (max-width: 1000px) {
  .myWork {
    max-width: 95%;
  }

  .myWork__line {
    width: 80%;
  }
}

@media only screen and (max-width: 740px) {
  .myWork {
    position: relative;
    max-width: 100%;
    align-items: end;
    flex-direction: column-reverse;
  }

  .myWork__line {
    width: 100%;
    height: 1rem;
  }

  .myWork__title {
    position: absolute;
    font-weight: 400;
    padding-right: 1.875rem;
  }
}

/* GRID */

.grid {
  display: flex;
  justify-content: center;
  width: 85%;
  margin: auto;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 112px;
}

.grid li {
  display: inline-block;
  width: 440px;
  margin: 0;
  padding: 20px;
  text-align: left;
  position: relative;
}

.card {
  margin: 0;
  position: relative;
  padding: .9375rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  overflow: hidden;
}

.card img {
  max-width: 100%;
  display: block;
  position: relative;
  transition: transform 0.4s;
}

.card:hover img {
  transform: translateY(-50px);
}

.card__body {
  position: absolute;
  left: 0;
  padding: 20px;
  height: 100px;
  width: 100%;
  top: auto;
  bottom: 0;
  background: #223046;
  color: rgba(238, 21, 126, 0.678);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.4s, opacity 0.1s 0.3s;
}

.card__body h3 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: var(--font);
}

.card__body span {
  font-family: var(--font-secondary);
  font-weight: 400;
}

.card__body a {
  font-family: var(--font-primary);
  text-decoration: none;
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: rgba(21, 238, 225, 0.85);
  color: var(--color-black);
}

.card__body a:hover{
  background: rgba(238, 21, 126, 0.678);
  color: #fff;
}

.card:hover .card__body,
.card.cs-hover .card__body {
  opacity: 1;
  transform: translateY(0px);
  transition: transform 0.4s, opacity 0.1s;
}

